/**
 * Author: Sublime Text Editor
 */

	.mceContentBody {
		background:#272822 !important;
		color:#F8F8F2 !important;
	}

	.fullscreen-overlay {
		background:#272822 !important;
	}

	.wp-fullscreen-title {
		color:#F8F8F2 !important;
	}