/**
 * Author : Sublime Text
 */
	.mceContentBody {
		background:#042029 !important;
		color:#839496 !important;
	}

	.fullscreen-overlay {
		background:#042029 !important;
	}

	.wp-fullscreen-title {
		color:#839496 !important;
	}